//if IE
  script(src='https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js')
  script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
include fb.html
nav(class="navbar navbar-inverse")
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      - var profileIconUrl = "http://ddragon.leagueoflegends.com/cdn/6.8.1/img/profileicon/" + profileIconId + ".png";
      a.navbar-brand League of Masteries
    div.collapse.navbar-collapse#navbar-collapse-1
      ul.nav.navbar-nav
        li
          a#progression-button Progression
        li
          a#get-top-ten Top 12
        li
          a#get-game-team-mastery Team
        li
          a#quizz-button Quizz
        li
          a#leaderboards-button Leaderboards
      div.nav.navbar-nav.navbar-right
        form#summ-by-name.navbar-form.navbar-left(role="search")
            div.form-group
              input.form-control(type="text" name="summ-name" placeholder="Look for another summoner")
              select(name="region")
                option(value="euw") EUW
                option(value="br") BR
                option(value="eune") EUNE
                option(value="na") NA
                option(value="jp") JP
                option(value="kr") KR
                option(value="lan") LAN
                option(value="las") LAS
                option(value="oce") OCE
                option(value="ru") RU
                option(value="tr") TR
              button.btn.btn-default(type="submit") Search
div.fb-like(data-share="true" data-width="450" data-show-faces="false")
div.container-fluid
  div.row.text-center
    div.col-xs-12
      h1
        img(src=profileIconUrl)
        |  #{summonerName}
  div.row.text-center
    div.col-xs-4.col-xs-offset-4
      p#player-score
  div.row.text-center#recommended
  div.row.text-center
    form#by-champion
      select(name="champion")
        option(title="None" value=0) Mastery By Champion
        each champion in champions
          option(title=champion.key value=champion.id)= champion.name
        input(type="submit" value="OK?")
  div.row.text-center#response-zone
footer.footer
  div.container
    p.text-muted LeagueOfMasteries isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
script(type="text/javascript") var options ={playerId: #{id}, playerName: "#{playerName}", region: "#{region}", summonerName: "#{summonerName}"};
script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.11/parsley.min.js")
script(type="text/javascript" src="index.js")
